interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic c2NvdHQuc3RhbmllOlE1TnU0I0xxdHIzbQ==
    method: GET
    uri: https://urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=BO_n7nTIlMljdvU6kRRB3g&redirect_uri=https://auth.asf.alaska.edu/login
  response:
    body:
      string: <html><body>You are being <a href="https://auth.asf.alaska.edu/login?code=a3fvy7YvPg3Zcs0brK1lMK7vmQxDb9x4Cw1XUNDK9YwOt5EbKPyY0XYRv2ouGAg">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://auth.asf.alaska.edu/login?code=a3fvy7YvPg3Zcs0brK1lMK7vmQxDb9x4Cw1XUNDK9YwOt5EbKPyY0XYRv2ouGAg
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.asf.alaska.edu/login?code=a3fvy7YvPg3Zcs0brK1lMK7vmQxDb9x4Cw1XUNDK9YwOt5EbKPyY0XYRv2ouGAg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://auth.asf.alaska.edu/
      x-amz-apigw-id:
      - N_8OBH16oAMEPAQ=
      x-amzn-RequestId:
      - a820a992-e13a-42b3-8acd-29985b715b9b
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.asf.alaska.edu/
  response:
    body:
      string: "<html>\n    <head>\n        <title>Egress | \n      \n      Welcome\n
        \     \n</title>\n        <style>\n            /*!\n * Bootstrap v2.3.1\n
        *\n * Copyright 2012 Twitter, Inc\n * Licensed under the Apache License v2.0\n
        * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Designed and built with
        all the love in the world @twitter by @mdo and @fat.\n */\n.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:\"\";line-height:0;}\n.clearfix:after{clear:both;}\n.hide-text{font:0/0
        a;color:transparent;text-shadow:none;background-color:transparent;[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://s1qc.asf.alaska.edu/aux_poeorb/
  response:
    body:
      string: "<html>\r\n<head><title>Index of /aux_poeorb/</title></head>\r\n<body>\r\n<h1>Index
        of /aux_poeorb/</h1><hr><pre><a href=\"../\">../</a>\r\n<a href=\"S1A_OPER_AUX_POEORB_OPOD_20140822T122852_V20140731T225944_20140802T005944.EOF\">S1A_OPER_AUX_POEORB_OPOD_20140822T122852_V20140..&gt;</a>
        20-Jul-2017 17:03      4M\r\n<a href=\"S1A_OPER_AUX_POEORB_OPOD_20140823T122348_V20140801T225944_20140803T005944.EOF\">S1A_OPER_AUX_POEORB_OPOD_20140823T122348_V20140..&gt;</a>
        20-Jul-2017 17:03      4M\r\n<a href=\"S1A_OPER_AUX_POEORB_OPOD_20140824T122343_V20140802T225944_20140804T005944.EOF\">S1A_OPER_AUX_[...]
