interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic c2NvdHQuc3RhbmllOlE1TnU0I0xxdHIzbQ==
    method: GET
    uri: https://urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=BO_n7nTIlMljdvU6kRRB3g&redirect_uri=https://auth.asf.alaska.edu/login
  response:
    body:
      string: <html><body>You are being <a href="https://auth.asf.alaska.edu/login?code=oWtYC-2XilrqcAcxC-bzB2r06xPZ2K0y3my1Hm8ZtDqL7W0GFhJvvQIwGhz8bfk">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://auth.asf.alaska.edu/login?code=oWtYC-2XilrqcAcxC-bzB2r06xPZ2K0y3my1Hm8ZtDqL7W0GFhJvvQIwGhz8bfk
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.asf.alaska.edu/login?code=oWtYC-2XilrqcAcxC-bzB2r06xPZ2K0y3my1Hm8ZtDqL7W0GFhJvvQIwGhz8bfk
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://auth.asf.alaska.edu/
      x-amz-apigw-id:
      - N_8PLHJJoAMEEHg=
      x-amzn-RequestId:
      - e66b453e-af54-40ae-8273-ed40deeb4c6d
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.asf.alaska.edu/
  response:
    body:
      string: "<html>\n    <head>\n        <title>Egress | \n      \n      Welcome\n
        \     \n</title>\n        <style>\n            /*!\n * Bootstrap v2.3.1\n
        *\n * Copyright 2012 Twitter, Inc\n * Licensed under the Apache License v2.0\n
        * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Designed and built with
        all the love in the world @twitter by @mdo and @fat.\n */\n.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:\"\";line-height:0;}\n.clearfix:after{clear:both;}\n.hide-text{font:0/0
        a;color:transparent;text-shadow:none;background-color:transparent;[...]
