cdsapi
pandas
geopandas
numpy
netCDF4
tqdm
requests
sentinelsat
scipy
sklearn
shapely
h5py
gdal==2.2.3
scikit-image
joblib
matplotlib
richdem
pyproj
seaborn
rasterio
rasterstats
tensorflow
keras_unet
awscli