wheel
cdsapi
pandas==1.1.5
geopandas==0.9.0
numpy
netCDF4
tqdm
requests
sentinelsat
scipy
sklearn
shapely
h5py
gdal
scikit-image
joblib
matplotlib
richdem
pyproj
seaborn
rasterio
rasterstats
tensorflow==2.6.2
keras_unet
awscli
patchify
sphinx
sphinxcontrib-apidoc
sphinxcontrib-napoleon
sphinx_rtd_theme
myst_parser
