wheel
cdsapi
pandas==1.1.5
geopandas==0.9.0
numpy
netCDF4
tqdm
folium
requests
sentinelsat
scipy
scikit-learn
shapely
h5py
scikit-image
joblib
matplotlib
richdem
pyproj
seaborn
rasterio
rasterstats
awscli
sphinx
sphinxcontrib-apidoc
sphinxcontrib-napoleon
sphinx_rtd_theme
myst_parser
